
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #F5F5F5;
    }

    .title {
        color: #333333;
        text-align: center;
        text-transform: uppercase;
    }

    .content {
        font-size: 18px;
        line-height: 1.5;
        margin: 20px auto;
        max-width: 600px;
        text-align: justify;
        padding: 10px;
        border: 2px solid #333333;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>

<h1 class="title">Mẹ</h1>
<p class="content">Mẹ, người đem yêu thương đến trần gian<br>
    Hình ảnh đẹp như ngọc quý hiếm<br>
    Tâm hồn thật dịu êm, thương con trọn đời<br>
    Những giọt lệ mắt rơi cũng chỉ muốn con tốt hơn thôi<br>
    Cảm ơn mẹ đã sinh ra con<br>
    Và dạy con những bài học quý giá trong cuộc đời</p>